<li id="message-<%= message.id %>" data-date="<%= I18n.l(message.created_at.to_date, format: '%A, %d %b %Y') %>" class="post">
  <span class="avatar icon">
    <%= octicon 'home' %>
  </span>
  <div class="message">
    <div class="title">
      <span class="title">
        <% if (names = message.users.pluck(:name)).size == 1 %>
          <%= t ".message", name: names.first, count: 1 %>
        <% else %>
          <%= t ".message", names: names.join(", "), count: names.size %>
        <% end %>
        <span class="ago"><%= link_to_message message %></span>
      </span>
      <%= render "/messages/vote_button", message: message %>
      <%= render "/messages/unread_button", message: message %>
    </div>
  </div>
</li>
