<header>
  <% if current_user %>
    <a href="/session" class="btn login">
      <span class="icon">
        <%= octicon "arrow-right", :height => 16, :"aria-label" => "alert" %>
      </span>
      <%= t("lib.enter") %>
    </a>
  <% else %>
    <a href="/session" class="btn login">
      <span class="icon"><%= octicon 'person' %></span>
      <%= t("lib.login") %>
    </a>
  <% end %>
  <%= render "shared/hep_logo" %>
  <%= render "shared/sqily_logo" %>
</header>

<main class="page">
  <div class="card community">
    <header>
      <%= octicon 'home' %>
      <%= link_to I18n.t("communities.public_registery"), public_communities_path %>
      <span> / </span>
      <strong class="title">
        <%= link_to @community.name, public_community_path(@community) %>
      </strong>
    </header>
    <div class="page__content">
            
      <% if current_user %>
        <a href="#" data-open-modal="#duplicate-skill-modal" class="btn pull-right">
          <%= t(".duplicate_button") %>
        </a>
      <% end %>
      <h2>
        <%= octicon 'star' %>
        <%= @skill.name %>
      </h2>
      <%= format_rich_text @skill.description.html_safe %>
      <hr>

      <h4><%= I18n.t("skills.tasks.count", count: @skill.tasks.count) %></h4>
      <ul class="list">
        <% @skill.tasks.each do |t| %>
          <li>
            <span class="icon"><%= octicon 'file' %></span>
            <%= urls_to_links(h(t.title)).html_safe %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if current_user %>
    <%= render "public/skills/duplicate_skill_modal", skill: @skill %>
  <% end %>
</main>
