<header>
  <div class="title">
    <h2>
      <span class="icon icon--star icon--star--<%= user_skill_state(@skill, current_user) %>">
        <%= octicon 'star-fill' %>
      </span>
      <a href="<%= skill_path(current_community, @skill) %>"><%= @skill.name %></a>
    </h2>
    <a href="<%= skill_path(current_community, @skill) %>" class="icon icon--close icon-clear">
      <%= octicon "x" %>
    </a>
  </div>
</header>
<div class="post-date"><hr></div>

<section class="form">
  <%= render "form", skill: @skill %>
</section>
