<%= render "header" %>
<div class="post-date"><hr></div>
<nav class="submenu">
  <ul class="tabs is-right">
    <% if (pinned_count = current_community.messages.pinned.count) > 0 %>
      <% if params[:pinned] %>
        <li>
          <a href="<%= skills_path current_community %>" title="<%= t ".all_messages_tooltip" %>" class="icon pin active">
            <%= octicon "pin" %>
            <%= octicon "x" %>
          </a>
        </li>
      <% else %>
        <li>
          <a href="<%= messages_community_path current_community, pinned: true %>" title="<%= t ".important_messages_tooltip" %>" class="icon pin">
            <%= octicon "pin" %>
            <span><%= pinned_count %></span>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</nav>

<div class="post-date"><hr><span class="date" id="top-date"></span></div>

<section class="messages" id="messages" <%= "data-auto-scroll-to-bottom" unless params[:after] %> data-module="Sqily.Message.Puller" data-auto-pull-url="<%= messages_auto_pull_url @messages %>">
  <%= render "/messages/list" %>
</section>

<%= render "/messages/form", message: Message.new(to_community: current_community) %>
